# Dependencies
node_modules/
venv/
venv_pyannote/
env/

# Data and Secret Files (DO NOT COMMIT)
.env
storage/
backend/storage/
models/
*.mp4
*.mp3
*.wav
*.aac
*.db
*.sqlite
*.db-journal

# Python & Node Compilations
__pycache__/
*.py[cod]
*$py.class
dist/
build/

# OS and IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
.pytest_cache/
